---
import Base from "@/layouts/Base.astro";
import theme from "@/config/theme.json";
import "@/styles/gallery.scss";

// Extracción de los colores del tema
const { colors: themeColors } = theme;

// Lista de transparencias para efectos visuales
const transparencies = [
  "/10",
  "/20",
  "/30",
  "/40",
  "/50",
  "/60",
  "/70",
  "/80",
  "/90",
  "",
].reverse();
---

<Base>
 <section class="media-section">
  <!-- Imagen para tema oscuro -->
  <img
    class="media-image dark-theme"
    src="./images/n_logo_blanco_original.png"
    alt="maquina de tatuar"
    loading="lazy"
  />
  <!-- Imagen para tema claro -->
  <img
    class="media-image light-theme"
    src="./images/logo.png"
    alt="maquina de tatuar"
    loading="lazy"
  />

  <!-- Video principal -->
  <video id="videoTattoo" class="media-video" controls>
    <source src="./images/videotattoo.mp4" type="video/mp4" />
    Tu navegador no soporta la reproducción de videos.
  </video>
</section>


  <!-- Título de la galería -->
  <h1 class="galeria-text mt-10" style="text-align: center;">Galería</h1>

  <!-- Contenedor de la galería -->
  <section id="galeria" class="galeria">
    <!-- Las imágenes se añaden dinámicamente aquí -->
  </section>

  <!-- Modal para ampliar imágenes -->
  <div
    id="imageModal"
    class="hidden fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center"
  >
    <!-- Flecha anterior -->
    <button id="prevImage" class="nav-arrow left-4" style="color: white"
      ></button
    >
    <div class="relative">
      <!-- Botón de cierre -->
      <button
        id="closeModal"
        class="absolute top-2 right-2 bg-gray-200 text-black rounded-full px-3 py-1"
      >
        X
      </button>
      <!-- Imagen ampliada -->
      <img
        id="modalImage"
        class="max-w-[90vw] max-h-[90vh] rounded-lg"
        src=""
        alt="Imagen ampliada"
      />
    </div>
    <!-- Flecha siguiente -->
    <button id="nextImage" class="nav-arrow right-4" style="color: white"
      >❯</button
    >
  </div>

  <!-- Modal para agregar nueva imagen -->
  <div
    id="addImageModal"
    class="fixed inset-0 z-50 hidden flex items-center justify-center bg-gray-900 bg-opacity-50 backdrop-blur-sm min-h-screen text-left"
  >
    <div
      class="bg-white dark:bg-gray-800 dark:text-white p-6 rounded-lg shadow-lg sm:w-3/4 md:w-1/2"
    >
      <form id="addImageForm" class="space-y-4" enctype="multipart/form-data">
        <h3 class="text-lg font-medium text-gray-800 dark:text-white">
          Agregar Imagen
        </h3>

        <div class="grid grid-cols-1 gap-6">
          <!-- Campo para el título de la imagen -->
          <div>
            <label
              for="image_title"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >
              Título
            </label>
            <input
              type="text"
              id="image_title"
              name="image_title"
              class="mt-1 block w-full px-4 py-2 leading-snug border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
              required
            />
          </div>

          <!-- Campo para la descripción de la imagen -->
          <div>
            <label
              for="image_description"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >
              Descripción
            </label>
            <textarea
              id="image_description"
              name="image_description"
              rows="3"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white"
              placeholder="Describe brevemente la imagen (opcional)"></textarea>
          </div>

          <!-- Campo para seleccionar el archivo de imagen -->
          <div>
            <label
              for="image_file"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >
              Seleccionar Imagen
            </label>
            <input
              type="file"
              id="image_file"
              name="image_file"
              accept="image/*"
              class="mt-1 block w-full text-sm text-gray-700 dark:text-gray-200 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 dark:file:bg-blue-900 file:text-blue-700 dark:file:text-blue-300 hover:file:bg-blue-100 dark:hover:file:bg-blue-800"
              required
            />
          </div>
        </div>

        <!-- Botones de acción -->
        <div class="mt-4 flex justify-center w-full gap-4">
          <button
            type="submit"
            class="btn-primary inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-white font-semibold bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Subir Imagen
          </button>
          <button
            type="button"
            id="cancelAddImage"
            class="inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Script principal de la galería -->
  <script type="module" src="/scripts/views/gallery.js"></script>
</Base>