---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base_Dashboard.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";


const homepage = await getEntry("homepage", "index");
// console.log(homepage);
const { banner, sections, features, testimonial } = homepage.data;
const call_to_action = homepage.data.call_to_action;
---

<Base>
  <!-- Título principal -->
  <div class="mb-6 text-center">
    <h2 class="font-semibold text-gray-800 dark:text-white">
      Registro de Ingresos y Egresos
    </h2>
  </div>

  <!-- Formulario -->
  <div class="mb-6 mx-auto max-w-4xl w-full px-4">
      <form
        action="#"
        method="POST"
        enctype="multipart/form-data"
        class="space-y-4 bg-white p-4 sm:p-6 shadow-2xl sm:rounded-lg dark:bg-gray-800 dark:text-white"
      >
        <h3 class="text-lg font-medium text-gray-800 dark:text-white">
          Agregar Nueva Transacción
        </h3>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <!-- Fecha de Transacción -->
          <div class="col-span-1">
            <label
              for="transaction_date"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Fecha y Hora</label
            >
            <input
              type="datetime-local"
              id="transaction_date"
              name="transaction_date"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            />
          </div>

          <!-- Monto -->
          <div class="col-span-1">
            <label
              for="amount"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Monto</label
            >
            <input
              type="number"
              step="0.01"
              id="amount"
              name="amount"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            />
          </div>

          <!-- Tipo de Transacción -->
          <div class="col-span-1">
            <label
              for="transaction_type"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Tipo de Transacción</label
            >
            <select
              id="transaction_type"
              name="transaction_type"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            >
              <option value="">Selecciona</option>
              <option value="Ingreso">Ingreso</option>
              <option value="Egreso">Egreso</option>
            </select>
          </div>

          <!-- Categoría -->
          <div class="col-span-1">
            <label
              for="category"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Categoría</label
            >
            <select
              id="category"
              name="category"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            >
              <option value="">Selecciona</option>
              <option value="Venta">Venta</option>
              <option value="Compra">Compra</option>
              <option value="Servicio">Servicio</option>
              <option value="Salario">Salario</option>
              <option value="Otro">Otro</option>
            </select>
          </div>

          <!-- Método de Pago -->
          <div class="col-span-1">
            <label
              for="payment_method"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Método de Pago</label
            >
            <select
              id="payment_method"
              name="payment_method"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            >
              <option value="">Selecciona</option>
              <option value="Efectivo">Efectivo</option>
              <option value="Transferencia">Transferencia</option>
              <option value="Tarjeta">Tarjeta</option>
              <option value="Nequi">Nequi</option>
              <option value="Daviplata">Daviplata</option>
            </select>
          </div>

          <!-- Subir Recibo -->
          <div class="col-span-1">
            <label
              for="receipt"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Recibo (opcional)</label
            >
            <input
              type="file"
              id="receipt"
              name="receipt"
              accept=".pdf,.jpg,.png"
              class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100 dark:bg-gray-700 dark:text-white dark:file:bg-gray-600 dark:file:text-white"
            />
          </div>

          <!-- Descripción -->
          <div class="col-span-1 sm:col-span-2">
            <label
              for="description"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Descripción</label
            >
            <textarea
              id="description"
              name="description"
              rows="3"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Detalles sobre la transacción..."></textarea>
          </div>
        </div>

        <!-- Botón enviar -->
        <div class="mt-4 flex justify-center w-full">
          <button
            type="submit"
            class="btn-primary inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-white font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-blue-500 dark:hover:bg-blue-600"
          >
            Registrar Transacción
          </button>
        </div>
      </form>
    </div>

  <!-- Encabezado tabla -->
  <div class="mb-6 text-center mt-10">
    <h3 class="font-semibold text-gray-800 dark:text-white">
      Historial de Transacciones
    </h3>
  </div>

  <div
    class="relative overflow-x-auto shadow-2xl sm:rounded-lg mx-auto max-w-6xl mb-8"
  >
    <div class="flex justify-between items-center mb-4">
      <div>
        <input id="selectAllCheckbox" type="checkbox" class="ml-2" />
        <label
          for="selectAllCheckbox"
          class="text-sm text-gray-700 dark:text-gray-300"
          >Seleccionar Todo</label
        >
      </div>
      <!-- Botón para exportar a PDF -->
      <div class="flex justify-end max-w-6xl mx-auto mb-6">
        <button
          id="exportPDF"
          class="btn-primary inline-flex items-center justify-center rounded-lg h-9 px-6 py-2 text-white font-semibold bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600"
        >
          Exportar PDF
        </button>
      </div>

      <div>
        <span class="text-sm font-semibold text-gray-700 dark:text-gray-300"
          >Balance:</span
        >
        <span
          id="balance"
          class="text-lg font-bold text-green-600 dark:text-green-400">$0</span
        >
      </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th class="px-4 py-3"></th>
          <th class="px-6 py-3">
            Fecha
            <div class="flex space-x-2 mt-2">
              <input
                type="text"
                class="filter-input w-full px-2 py-1 border border-gray-300 rounded-md text-sm"
                id="dateFilter"
                placeholder="Busca por fecha (DD/MM/AAAA)"
              />
            </div>
          </th>
          <th class="px-6 py-3">
            Monto
            <input
              type="text"
              class="filter-input w-full mt-2 px-2 py-1 border border-gray-300 rounded-md text-sm"
              data-column="amount_filter"
              placeholder="Filtrar..."
            />
          </th>
          <th class="px-6 py-3">
            Tipo
            <input
              type="text"
              class="filter-input w-full mt-2 px-2 py-1 border border-gray-300 rounded-md text-sm"
              data-column="type_filter"
              placeholder="Filtrar..."
            />
          </th>
          <th class="px-6 py-3">
            Categoría
            <input
              type="text"
              class="filter-input w-full mt-2 px-2 py-1 border border-gray-300 rounded-md text-sm"
              data-column="category_filter"
              placeholder="Filtrar..."
            />
          </th>
          <th class="px-6 py-3">
            Método de Pago
            <input
              type="text"
              class="filter-input w-full mt-2 px-2 py-1 border border-gray-300 rounded-md text-sm"
              data-column="payment_filter"
              placeholder="Filtrar..."
            />
          </th>
          <th class="px-6 py-3">
            Descripción
            <input
              type="text"
              class="filter-input w-full mt-2 px-2 py-1 border border-gray-300 rounded-md text-sm"
              data-column="description_filter"
              placeholder="Filtrar..."
            />
          </th>
          <th class="px-6 py-3">Recibo</th>
          <th class="px-6 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas generadas dinámicamente -->
      </tbody>
    </table>
  </div>

  <!-- Modal para editar transacciones -->
  <div
    id="editModal"
    class="fixed inset-0 z-50 hidden flex items-center justify-center bg-gray-900 bg-opacity-50 backdrop-blur-sm min-h-screen"
  >
    <div
      class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg sm:w-3/4 md:w-1/2"
    >
      <form id="editTransactionForm" class="space-y-4">
        <h3 class="text-lg font-medium text-gray-800 dark:text-white">
          Editar Transacción
        </h3>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          <!-- Fecha de la transacción -->
          <div>
            <label
              for="edit_transaction_date"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Fecha de la Transacción</label
            >
            <input
              type="datetime-local"
              id="edit_transaction_date"
              name="transaction_date"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            />
          </div>

          <!-- Monto -->
          <div>
            <label
              for="edit_amount"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Monto</label
            >
            <input
              type="number"
              id="edit_amount"
              name="amount"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              required
            />
          </div>

          <!-- Descripción -->
          <div>
            <label
              for="edit_description"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Descripción</label
            >
            <input
              type="text"
              id="edit_description"
              name="description"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            />
          </div>

          <!-- Tipo de transacción -->
          <div>
            <label
              for="edit_transaction_type"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Tipo de Transacción</label
            >
            <select
              id="edit_transaction_type"
              name="transaction_type"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            >
              <option value="Ingreso">Ingreso</option>
              <option value="Egreso">Egreso</option>
            </select>
          </div>

          <!-- Categoría -->
          <div>
            <label
              for="edit_category"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Categoría</label
            >
            <input
              type="text"
              id="edit_category"
              name="category"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            />
          </div>

          <!-- Método de pago -->
          <div>
            <label
              for="edit_payment_method"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Método de Pago</label
            >
            <input
              type="text"
              id="edit_payment_method"
              name="payment_method"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            />
          </div>

          <!-- Recibo -->
          <div>
            <label
              for="edit_receipt"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Recibo</label
            >
            <input
              type="file"
              id="edit_receipt"
              name="edit_receipt"
              accept=".pdf,.jpg,.png"
              class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            />
          </div>
        </div>

        <div class="mt-4 flex justify-end space-x-2">
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          >
            Guardar
          </button>
          <button
            type="button"
            id="cancelEdit"
            class="px-4 py-2 bg-gray-300 text-black rounded-md hover:bg-gray-400"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</Base>

<script>
  import { getUserFromToken } from "../utils/auth.js";

  const token = localStorage.getItem("token");
  const user = token ? getUserFromToken(token) : null;

  if (!user || !user.permissions.includes("transactions_management")) {
    window.location.href = "/404_closed"; // Redirigir a una página de acceso denegado
  }
</script>

<script type="module" src="/scripts/views/transactions.js"></script>
<script src="/scripts/views/transactionsFilter.js" is:inline></script>
<script type="module" src="../../src/scripts/views/exportPDFTransactions.js"></script>